<html lang="en"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="content">
    <div class="row">
        <div class="col-3 mx-auto">
            <h1 class="mt-3">CITY PAGE</h1>
            <form th:action="@{'/editcustomer'}" method="post">
                <input type="hidden" name="id" th:value="${customer.id}">
                <div class="row mt-3">
                    <div class="col-12">
                        <label>CUSTOMER NAME:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" name="customer_name" class="form-control" th:value="${customer.name}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>City:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <select class="form-control" name="city">
                            <option th:each="c:${cities}" th:value="${c.id}" th:text="${c.name}">

                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-success">EDIT CUSTOMER</button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCustomer">DELETE
                        </button>
                    </div>
                </div>
            </form>
            <div class="modal fade" id="deleteCustomer" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form th:action="${'/deletecustomer'}" method="post">
                            <input type="hidden" name="id" th:value="${customer.id}">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">DELETE CUSTOMER</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                                <button class="btn btn-danger">YES</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</html>
</body>
</html>